@tailwind base;
@tailwind components;
@tailwind utilities;


/* font import */


@font-face {
  font-family: "Poppins-Regular";
  font-style: normal;

  src: url("./../assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Medium";
  font-style: normal;

  src: url("./../assets/fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-SemiBold";
  font-style: normal;

  src: url("./../assets/fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Bold";
  font-style: normal;

  src: url("./../assets/fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-ExtraBold";
  font-style: normal;

  src: url("./../assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins-Black";
  font-style: normal;

  src: url("./../assets/fonts/Poppins-Black.ttf") format("truetype");
}



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
  font-family: 'Poppins-Regular';
}

.home-screen {
  /* background: url(../assets/images/mainbg.jpg); */
  background-color: rgb(0, 0, 0);

}

@media screen and (min-width: 1224px) {
  .side-section {
    width: 100% !important
  }
}